.bar {
  height: 4px;
  width: 70px;
  background: $secondaryColor;

  &-projects {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

.title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 600;

  &-projects {
    padding-top: 20px;
  }

  &-card {
    font-size: 30px;
    padding-bottom: 70px;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}