.header {
  background: $secondaryColor;
  padding: 10px;
  color: #fff;
  border-bottom: 3px solid $primaryColor;
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 2;

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }
  }
  &__links {
    display: flex;
  }
}
